<section class="form-section">

    <header class="form-section__header">
        <h1>Add item</h1>
    </header>

    <form action="/add-new-item" method="POST" class="form" enctype="multipart/form-data">

        {{#if errorMessage}}
        <p class="form__error">{{errorMessage}}</p>
        {{/if}}

        <div class="form__input-group">
            <label class="form__label" for="name" class="label-ref label">Name</label>
            <input class="form__input" id="name" type="text" name="name" placeholder="What are you giving away?">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="category" class="label-ref label">Category</label>
            <select name="category" id="category" class="form__select">
                <option value="-1" disabled selected>Choose category</option>
                <option value="Plant">Plant</option>
                <option value="Kombucha">Kombucha</option>
                <option value="Vinegar">Vinegar</option>
                <option value="Kefir">Kefir</option>
            </select>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="quantity" class="label-ref label">Quantity</label>
            <input class="form__input" id="quantity" type="number" name="quantity">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="address" class="label-ref label">Address</label>
            <input class="form__input" id="address" type="string" name="address">
        </div>

        <div class="form__input-group">
            <label class="form__label" for="description" class="label-ref label">Description</label>
            <textarea class="form__text-area" id="description" name="description" rows="5"
                placeholder="Tell us something about this item"></textarea>
        </div>

        <div class="form__input-group">
            <label class="form__label" for="image" class="label-ref label">Image</label>
            <input class="form__input" id="image" type="file" name="image">
        </div>

        <h3>Contact information</h3>

        <div class="form__input-group">
            <label class="form__label" for="contact">How do you want to be reached?</label>

            <div>
                <input type="radio" name="contact" value="{{user.email}}">{{user.email}}</div>

            {{#if contact.0.phoneNumber}}
            <input type="radio" name="contact" value="{{contact.0.phoneNumber}}">{{contact.0.phoneNumber}}
            {{/if}}
        </div>

        <p class="form__message">
            <img src="/media/info.svg" alt="">
            Want to be contacted by phone?</p>
        </div>

        <button class="form__button" type="submit">Add item</button>
    </form>

</section>