<section class="personal-section">

  <div class="round__image user__image"><img src="{{user.profileImg}}" alt="{{user.firstName}}"></div>
  <div class="user__presentation">
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <a href="/personal/edit-profile">Edit profile</a></a>
  </div>

  {{#unless contact}}
  <div class="use__contact">
    <h4>Add a phone number</h4>
    <form action="/add-contact" method="POST" class="form">

      <div class="form__input-group">
        <label class="form__label" for="phoneNumber" class="label-ref label">Phone number</label>
        <input class="form__input" id="phoneNumber" type="text" name="phoneNumber" placeholder="Add phone number">
      </div>
      <button class="form__button" type="submit">Add phone number</button>
    </form>
  </div>
  {{/unless}}

  {{#unless item}}
  <div class="stack__empty__state">
    <div class=""><img src="/media/personal-page-empty-state.svg" alt=""></div>
    <p>You don't have any items :(</p>

    <a href="/add-item"><button>Add item to give away</button></a>
  </div>
  {{/unless}}

  {{#if item}}
  <div class="stack">
    <h3>Your items</h3>
    {{#each item}}
    <div class="stack__item">
      <div class="round__image"><img src="{{this.image}}" alt="{{this.name}}"></div>
      <div class="stack__item__description">
        <h2>{{this.name}}</h2>
        <h4>Quantity: {{this.quantity}}</h4>
        <p>{{this.description}}</p>
        <div class="stack__item__buttons">
          <a href="/personal/delete/{{this._id}}"><button>Delete</button></a>
          <a href="/personal/{{this._id}}"><button>Edit</button></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</section>